<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="79.1.36" targetFramework="net472" />
  <package id="cef.redist.x86" version="79.1.36" targetFramework="net472" />
  <package id="CefSharp.Common" version="79.1.360" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="79.1.360" targetFramework="net472" />
  <package id="CSharp" version="1.0.0.1" targetFramework="net472" />
  <package id="CSharp.Winform" version="1.0.0.0" targetFramework="net472" />
  <package id="Selenium.Chrome.WebDriver" version="79.0.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="80.0.3987.10600" targetFramework="net472" />
</packages>